.weather-data {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;

    position: relative;

    height: 100%;
    min-height: 0;
    min-width: 0;

    padding: 2rem 2rem 0 2rem;

    background-color: var(--clr-background-main);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.weather-data__message {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-text);
}

.weather-data__message--error {
    color: red;
}

@media (max-width: 1024px) {
    .weather-data {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        grid-row: auto;

        padding: 0.5rem 1rem 0 1rem;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
