.weather-form__submit-button {
    text-align: center;
    padding: 0.5rem 1rem;
    border: 2px solid var(--clr-primary);
    cursor: pointer;
    border-radius: 0.5rem;
    color: var(--clr-primary);
    font-weight: 700;
    background-color: var(--clr-secondary);
}
.weather-form__submit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 540px) {
    .weather-form__submit-button {
        padding: 0.4rem 0.6rem;
        font-size: 0.9rem;
    }
}
