.weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    margin-top: auto;
    margin-bottom: auto;
}

.weather-form__title {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-text);
    margin-bottom: 1rem;
}

.weather-form__title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 48%;
    height: 4px;
    background-color: var(--clr-text);
    bottom: -0.5rem;
}
