:root[data-theme='light'] {
    --clr-text: hsl(220, 12%, 5%);
    --clr-background: hsl(225, 20%, 96%);
    --clr-primary: hsl(337, 61%, 49%);
    --clr-secondary: hsl(286, 11%, 70%);
    --clr-accent: hsl(308, 11%, 62%);

    --bg-image: url('assets/background-light.png');
}
:root[data-theme='dark'] {
    --clr-text: hsl(220, 12%, 95%);
    --clr-background: hsl(225, 20%, 4%);
    --clr-primary: hsl(337, 61%, 51%);
    --clr-secondary: hsl(286, 11%, 30%);
    --clr-accent: hsl(308, 11%, 38%);

    --bg-image: url('assets/background-dark.png');
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.layout {
    background-color: var(--clr-background);
    color: var(--clr-text);
    transition:
        background-color 0.25s,
        color 0.25s;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: 1px solid red;
}

/* desktop-2xl */
@media (max-width: 1800px) {
    .container {
        max-width: 1680px;
    }
}

/* desktop-xl */
@media (max-width: 1680px) {
    .container {
        max-width: 1580px;
    }
}

/* desktop-lg */
@media (max-width: 1580px) {
    .container {
        max-width: 1480px;
    }
}

/* desktop-md */
@media (max-width: 1480px) {
    .container {
        max-width: 1280px;
    }
}

/* desktop-sm */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* tablet-lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* tablet-md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* tablet-sm */
@media (max-width: 640px) {
    .container {
        max-width: 540px;
    }
}

/* mobile-xl */
@media (max-width: 540px) {
    .container {
        max-width: 425px;
    }
}

/* mobile-lg */
@media (max-width: 425px) {
    .container {
        max-width: 375px;
    }
}

/* mobile-md */
@media (max-width: 375px) {
    .container {
        max-width: 320px;
    }
}

/* mobile-sm */
@media (max-width: 320px) {
    .container {
        max-width: 100%;
    }
}
